<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <title>User Profile</title>
    </head>
    <body>
        <header class="p-3 mb-3 border-bottom" style="background-color:#ffffff">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="navbar-brand" href="/dashboard#">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQExfRH4mTXtjw/company-logo_200_200/0?e=2159024400&v=beta&t=TGKREAto_AsBc7u79FQi6KHnSxLrISm3FEMuJyfnQv4" width="30" height="30" alt="">
                </a>
                <!-- <h4><a class="test" href="/profile">Profile</a></h4> -->
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <!-- <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li> -->
                  </ul>
                <div class="dropdown text-end">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{userinfo['picture']}}" alt="mdo" width="32" height="32" class="rounded-circle">
                    {{userinfo['name']}}
                  </a>
                  <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="avatar rounded-circle" width="300" height="300" src="https://s.gravatar.com/avatar/7f9f749612d81e1ed57b6c2b915ba1dc?s=480&amp;r=pg&amp;d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fwi.png"/> 
                </div>
                <div class="col">
                    <h2>Welcome {{userinfo['name']}}!</h2>
                    <pre>{{userinfo_pretty}}</pre>
                </div>
            </div>
        </div>
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/abd487df08.js" crossorigin="anonymous"></script>
        
    </body>
</html>