<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
                <p>{{ message }}</p>
            </div>
        {% endfor %}    

        <h4 style="text-align:center">This website is a work in progress, data is from CoinGecko</h4>
        <form  method="POST" action="/">
            <div class="col">
                <label for="title" class="form-label">Enter Coin:</label>
                <input type="text" name="coin" class="form-control" value="bitcoin">
            </div>
            <div class="col-auto">
                <label for="initial investment" class="form-label">Initial Investment</label>
                <input type="text" name="initial_investment" class="form-control" value="2500">
            </div>
            <div class="col-auto mb-3">
                <label for="presale price" class="form-label">Your Price</label>
                <input type="text" name="presale_price" class="form-control" value="">
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>

        <h1>Coins</h1>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Our Price</th>
                    <th scope="col">Xs</th>
                    <th scope="col">Initial</th>
                    <th scope="col">Profit</th>
                    <th scope="col">24h</th>
                    <th scope="col">ATH</th>
                    <th scope="col">% From ATH</th>
                    <!-- <th>Last 7 Days</th> -->
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for coin in coins %}
                <form method="POST" action="./delete" style="display: inline">
                    <input type="hidden" value="{{coin.crypto_name}}" name="coin">
                <tr>
                    <td><img height= 70; width="auto" src="{{coin.image}}"></td> 
                    <td>{{coin.crypto_name}}</td>
                    <td>${{coin.current_price}}</td>
                    <td>${{coin.presale_price}}</td>
                    <td style="color: chartreuse;">{{coin.multiple}}x</td>
                    <td>${{coin.coin_initial_invesment}}</td>
                    <td>${{coin.profit}}</td>
                    <td>{{coin.twenty_four_hour}}</td>
                    <td>${{coin.all_time_high}}</td>
                    <td>{{coin.all_time_percentage_change}}</td>
                    <!-- <td><img height= 100; src="{{coin.sparkline}}"></td> -->
                    <td><input type="hidden" value="{{coin.crypto_name}}" name="coin"> <input class="btn btn-danger" type="submit" value="Delete"></td>
                <!--<td>{{coin.crypto_name}}</td> --> 
                </form>
                <!-- <form method="POST" action="./update">
                    <input type="hidden" value="{{coin.crypto_name}}" name="oldcrypto_name" value="Test">
                    <input type="text" value="{{coin.crypto_name}}" name="newcrypto_name">
                    <input type="submit" value="Update">
                </form> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>